﻿$color_white: #fff;
$color_back_to_top: #ea5458;
$color_back_to_top_hover: #4792e4;

.main {
    .container-fluid {
        padding: 0 10px !important;
    }
}

.hidden {
    display: none;
}

#control {
    display: flex;
}

/*-- Row --*/
.row {
    margin-right: -5px;
    margin-left: -5px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
}

input, textarea {
    &::placeholder {
        font-style: italic;
    }
}

/*-- Tab --*/
.tab-content {
    margin-bottom: 10px;

    .tab-pane {
        padding: 10px;
    }
}

.nav-tabs {
    .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .nav-item {
        margin-bottom: 0;
    }
}

.nav-tabs .nav-item .nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

/*-- Dashboard --*/
.form-dashboard {
    .form-group .btn-group .dropdown-toggle {
        width: 160px;
    }
}

.custom-card {
    height: 120px;

    h4.title {
        font-size: 30px;
        font-weight: bold;
    }

    .count {
        font-size: 14px;
        text-transform: uppercase;
    }

    .icon-card {
        position: absolute;
        top: 50%;
        right: 20px;
        opacity: .2;
        transform: translateY(-50%);
        color: $color_white;
        font-size: 110px;
    }
}

/*-- highchart --*/
.highcharts-credits {
    font-size: 0px !important;
}

/*-- BACK TO TOP --*/
.back-to-top {
    width: 45px;
    background: $color_back_to_top;
    position: fixed;
    bottom: 10px;
    right: -50px;
    z-index: 9999;
    border: 4px double $color_white;

    &:hover {
        background: $color_back_to_top_hover;
    }

    i {
        color: $color_white;
    }
}

@-webkit-keyframes moveleftBToT {
    from {
        right: -50px;
    }

    to {
        right: 10px;
    }
}

@keyframes moveleftBToT {
    from {
        right: -50px;
    }

    to {
        right: 10px;
    }
}

@-webkit-keyframes moverightBToT {
    from {
        right: 10px;
    }

    to {
        right: -50px;
    }
}

@keyframes moverightBToT {
    from {
        right: 10px;
    }

    to {
        right: -50px;
    }
}


/*-- Giao dich --*/
.create-exchange-page, .update-exchange-page, .create-liquidation-card-page {
    .img-box {
        position: absolute;
        z-index: 1;
        right: 37px;
        top: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 130px;
            width: 150px;
        }

        .custom-file-upload {
            margin-top: 1px;
            background: #20a8d8;
            border: 1px solid #ccc;
            display: inline-block;
            padding: 2px 8px;
            cursor: pointer;
            width: 150px;
            text-align: center;
            color: $color_white;
        }
    }
}

/*-- sidebar --*/
.sidebar .nav {
    .nav-link:hover i {
        transform: rotateY(360deg);
        perspective: 1000px;
        transition: 1s;
    }
}

.ld-flip-h {
    animation: ld-flip-h 1s infinite linear;
    color: #ffc600 !important;
}

@-moz-keyframes ld-flip-h {
    100% {
        -webkit-transform: rotateY(360deg) rotateX(0deg);
        transform: rotateY(360deg) rotateX(0deg);
    }
}

@-webkit-keyframes ld-flip-h {
    100% {
        -webkit-transform: rotateY(360deg) rotateX(0deg);
        transform: rotateY(360deg) rotateX(0deg);
    }
}

@keyframes ld-flip-h {
    100% {
        -webkit-transform: rotateY(360deg) rotateX(0deg);
        transform: rotateY(360deg) rotateX(0deg);
    }
}

/*-- button --*/
.btn {
    span, i {
        margin-right: 10px;
    }
}

.button-right {
    text-align: right !important;

    .btn {
        margin: 0 5px;
    }
}

.no-mr {
    margin-right: 0 !important;
}

/*-- RESPONSIVE --*/
@media (max-width: 991.98px) {

    .user-profile {
        span {
            display: none;
        }
    }

    body {
        .app-body {
            main {
                margin-left: 0 !important;
            }
        }
    }

    header {
        &.app-header {
            .navbar-toggler {
                margin-left: 0 !important;
            }
        }
    }

    .sidebar-mobile-show {
        .main {
            margin-right: -190px !important;
            margin-left: 190px !important;
        }

        header.app-header .navbar-toggler {
            margin-left: 185px !important;
        }
    }
}

@media (min-width: 992px) {
    .brand-minimized .app-header.navbar .navbar-brand {
        background-color: #3498db;
        display: none;
    }
}

/* điện thoại di động, hiển thị chiều dọc */
@media all and (max-width: 320px) {
}

/*điện thoại di động, hiển thị chiều ngang */
@media all and (max-width: 480px) {
}

/* máy tính bảng, hiển thị chiều dọc */
@media all and (max-width: 600px) {
}

/* máy tính bảng, hiển thị chiều ngang */
@media all and (max-width: 800px) {
}

/* máy tính bảng loại to, hiển thị chiều dọc */
@media all and (max-width: 768px) {
    .form-control {
        margin: 5px 0 !important;
    }

    /*Giao dich*/
    .create-exchange-page, .update-exchange-page, .create-liquidation-card-page {
        .img-box {
            right: 23px;
            top: 210px;

            img {
                height: 85px;
                width: 100px;
            }

            .custom-file-upload {
                width: 100px;
            }
        }
    }
}

/* máy tính bảng loại to, hiển thị chiều ngang */
@media all and (max-width: 1024px) {
}

/* từ size này trở lên là danh cho desktop thông thường */
@media all and (min-width: 1025px) {
}

// chọn ngày startDate-endDate
.DateRangePicker_picker {
    z-index: 10;
}
.DateInput_input {
    padding: 5px 12px 4px !important;
    font-size: 14px !important;
    font-weight: 1.5 !important;
}
