﻿$color_brand_blue: #2a58ad;
$color_brand_yellow: #f26522;
$color_menu_sub: #0f1b46;
$color_white: #fff;
$color_gray: #272727;
$color_bg_headtop: #1a4897;
$color_border_li: #3762b2;
$color_brand_yellow_hover: #f04e01;
$color_text_submenu: #e7ba0a;
$color_text_li_ul_li: #788fc4;
$color_excel: #1d6f42;
$color_green: #17bb31;
$color_red: #e12127;


* {
    outline: none;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

body {
    .user-profile i {
        margin-right: 5px;
    }

    .app-body {
        margin-top: 40px !important;

        .sidebar {
            a {
                &.logo_head {
                    text-align: center;
                }

                img {
                    padding: 10px;
                    width: 95%;
                    border-radius: 12px;
                }
            }

            ul {
                li {
                    i {
                        color: $color_white !important;
                    }

                    &:hover, &.active-dropdown {
                        background: $color_brand_yellow !important;

                        ul {

                            li {
                                background: none !important;

                                a {
                                    padding: 10px !important;
                                    background: none !important;

                                    &:hover {
                                        color: $color_text_submenu !important;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        padding: 10px !important;
                        color: $color_white !important;
                        background: none !important;

                        :before {
                            color: $color_white !important;
                        }
                    }
                }
            }
        }

        .breadcrumb {
            display: none;

            li {
                text-transform: none !important;

                a {
                    text-transform: none !important;
                }
            }
        }

        .card {
            box-shadow: none !important;
            border: 0;
            margin-bottom: 0.5rem;

            .card-body {
                padding: 15px !important;

                .form-group {
                    margin-bottom: 10px !important;
                }
            }
        }

        .sidebar-minimizer {
            display: none;
        }

        main {
            margin-left: 190px;
            .addnew_customer {
                .form-group {
                    margin-bottom: 10px !important;
                }
            }

            .asset-page {
                margin-top: 10px;
                background: $color_white;
            }

            .card-header {
                padding: 10px 5px 0px 10px !important;
                background: $color_white;
                border: 0;

                h1 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    color: $color_brand_blue;
                }
            }
        }

        .customer-page {
            background: $color_white;
            margin-top: 10px;
        }
    }
}

header {
    &.app-header {
        background-color: $color_bg_headtop !important;
        height: 40px !important;
        z-index:1 !important; 
        .navbar-toggler {
            margin-top: 4px;
        }

        .dropdown-menu {
            margin-top: 10px !important;

            a {
                i {
                    color: $color_brand_blue !important;
                }
            }
        }

        .navbar-brand {
            height: 40px !important;
            padding-top: 7px !important;
        }

        button {
            outline: none !important;

            span {
                background: none !important;

                i {
                    color: $color_white;
                }
            }
        }

        .navbar-toggler {
            margin-left: 185px;
        }
    }

    .user-profile {
        margin-right: 20px;
        color: #fff;
        font-size: 13px;

        &:hover {
            color: #eee;
        }

        i {
            margin-right: 10px;
            font-size: 14px;
        }
    }
}
/*-- tablet --*/
table {
    margin-bottom: 0px !important;

    #th-first, .th-first {
        width: 1px;
    }

    thead {
        background: $color_brand_blue !important;
        color: $color_white;

        th {
            border-bottom: 1px solid #e7e7e7 !important;
            padding: 5px 10px !important;
            font-weight: 500;
        }
    }

    tbody {
        tr {

            td {
                padding: 8px 10px !important;
                border: 0 !important;

                &:nth-child(1) {

                    a, button {
                        background: none !important;
                        border: 0;
                        box-shadow: none !important;
                        padding: 0 5px;

                        span, i {
                            color: $color_brand_blue;
                            font-size: 19px;
                        }

                        &:hover {
                            span, i {
                                color:$color_brand_yellow !important;
                            }
                        }
                    }
                }

                &.stt_icon {
                    i {
                        font-size: 18px;

                        &.icon-check {
                            color: $color_green;
                        }

                        &.icon-close {
                            color: $color_red;
                        }
                    }
                }
            }
        }

        tr:nth-child(odd) {
            background: #f2f2f2 !important;
        }
    }
}
/*-- end tablet --*/
/*-- button --*/
.card-footer {
    background: none !important;
    border: none;
    padding-top: 0;

    .button-right {
        text-align: center !important;
        margin: auto;

        a, button {
            width: 120px;
            background: $color_brand_blue;
            border-radius: 2px;
            border: 0;
            height: 35px;
            color: $color_white;
            box-shadow: none !important;

            &:hover {
                box-shadow: 0 0 0 0.2rem rgba(42, 88, 173, 0.25) !important;
            }

            span {
                margin-right: 4px;
            }

            &.button_focus {
                background: $color_brand_yellow !important;

                &:hover {
                    background: $color_brand_yellow_hover !important;
                    box-shadow: 0 0 0 0.2rem rgba(242, 101, 34, 0.25) !important;
                }
            }

            &:hover {
                background: $color_bg_headtop !important;
            }
        }
    }
}
/*-- endbutton --*/
.sidebar-fixed {
    .main {
        margin-left: 190px;
    }

    &.sidebar-hidden {
        .main, .app-footer {
            margin-left: 0 !important;
        }

        header {
            &.app-header {
                .navbar-toggler {
                    margin-left: 0px !important;
                }
            }
        }
    }
}

.sidebar-fixed {
    .sidebar {
        height: calc(100vh - 0px) !important;
        background: $color_brand_blue;
        margin-top: -40px;
        width: 190px !important;

        .sidebar-nav {
            width: 190px !important;

            ul {
                &.nav {
                    width: 190px !important;

                    li {
                        border-bottom: 1px solid $color_border_li;

                        a {
                            &.active {
                                background: $color_brand_yellow !important;
                                color: $color_white !important;
                            }

                            &:before {
                                right: 10px !important;
                            }
                        }

                        ul {
                            &.nav-dropdown-items {
                                li {
                                    border: 0 !important;

                                    a {
                                        color: $color_text_li_ul_li !important;

                                        &.active, &:hover {
                                            background: $color_brand_blue !important;
                                            color: $color_text_submenu !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.open {
                            a {
                                background: $color_bg_headtop !important;
                            }

                            ul {
                                li {
                                    a {
                                        background: $color_brand_blue !important;
                                    }
                                }
                            }
                        }

                        &.active-dropdown {
                            a {
                                background: $color_brand_yellow !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*-- modal --*/
.modal {
    .modal-content {
        background: $color_white;
        border: 0;
        .table-responsive{
            padding-bottom:10px;
        }
        .modal-header {
            padding: 7px 10px;
            background: $color_brand_blue;
            margin-bottom: 10px !important;

            h5 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
            }

            button {
                outline: none !important;

                span {
                    color: $color_white;
                    font-size: 17px;
                }
            }
        }

        .modal-body {
            padding: 10px;

            .tab_customer {
                margin-top: 0;

                ul {
                    width: 100%;
                    background: $color_brand_blue;

                    li {
                        a {
                            border-radius: 0 !important;
                        }
                    }
                }
            }

            .button_close {
                padding: 0;
                border: 0;
                background: none !important;
                position: absolute;
                right: 0px;

                button {
                    margin-top: -7px;
                    font-size: 24px;
                    position: absolute;
                    right: 8px;
                    color: #fff;
                    font-weight: normal;
                    top: 10px;
                    opacity: .8;
                    outline: none;
                    padding: 0;
                    right: 25px;

                    span {
                        font-size: 23px;
                    }

                    &:hover {
                        opacity: 1
                    }
                }
            }

            .card-body {
                padding: 0 10px;
            }
        }

        #popup_detail {
            padding: 0;
        }

        .form-group {
            margin-bottom: 10px !important;

            label {
                margin-bottom: 3px !important;
            }
        }

        .mb-3, .card {
            margin-bottom: 0 !important;
        }

        .img-box {
            label {
                float: left;
                margin: 27px 10px 0 0;
                cursor: pointer;
                padding: 5px 10px;
                background:$color_brand_blue;
                border-radius: 2px;
                color:$color_white;
            }

            img {
                float: left;
                height: 70px;
                margin: 10px 0px 0 0;
            }
        }
    }

    .card-footer {
        margin-top: 10px;
    }
}
.tab_customer {
    margin-top: 10px;

    .tab-content{
        border:0 !important;
    }
    ul {
        border-bottom: 1px solid $color_brand_blue;

        li {
            margin-right: 1px;

            a {
                background: $color_brand_blue;
                color: $color_white !important;
                border: 0 !important;
                text-transform: none !important;

                &.active {
                    background: $color_brand_yellow !important;
                }
            }

            &:nth-child(1) {
                a {
                    border-radius: 4px 0 0 0;
                }
            }

            &:nth-child(2) {
                a {
                    border-radius: 0 4px 0 0;
                }
            }
        }
    }
}
.exchange-page {
    position: relative;

    .add_gd {
        position: absolute;
        right: 0;
        top: -38px;

        button {
            color: $color_white !important;
            margin: 0 !important;
            border-radius: 4px 4px 0 0;
            background:$color_brand_yellow !important;
            border: 0;
            box-shadow: none;

            &:hover {
                background: $color_brand_yellow_hover !important;
            }
        }
    }
}
.inforname_customer{
    margin:5px 0 0 15px;
    strong{
        color:$color_brand_yellow;
    }
    span{
        color:$color_brand_blue;
        padding-left:7px;
        font-weight:bold;
    }
}
.form-control{
    background-image:none !important;
}
.padding_0{
    padding:0 !important;
}
.tab-content {
    .tab-pane{
        padding:0 !important;
    }
}
.modal-lg, .modal-xl {
    max-width: 900px;
}
.form_popup {
    .tab-content {
        border: 0;
        margin-bottom: 0;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        margin: 10px 0;
    }

    ul {
        margin-bottom: 10px !important;

        li {
            a {
                border-radius: 4px 4px 0 0 !important;
            }
        }
    }

    .card {
        border: 0 !important;

        .card-body {
            padding: 0;
            
        }
    }
}
.form_customer {
    .react-bs-table-search-form {
        input {
            width: 200px;
            float: right;
        }
    }

    .react-bs-table-pagination {
        ul {
            li {
                a {
                    border: 0;
                    padding: 4px 10px;
                    border-radius: 2px;
                }

                &.active {
                    a {
                        background: $color_brand_blue !important;
                        color: $color_white;
                    }
                }
            }
        }
    }
}
.export_excel{
    background:$color_excel;
    color:$color_white;
    padding:3px 10px;
    border-radius:2px;
    border:0;
    &:hover{
        background:$color_brand_yellow !important;
    }
}
.button_creat_store {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 8px;

    a {
        margin-bottom: 0 !important;
        padding: 3px;
        height: 30px !important;
    }
}

.tablet_store {
    margin-top: -15px;
    display: inline-block;
    width: 100%;
    float: left;
}
.container-fluid{
    margin-top:10px;
}
.react-tagsinput {
    border: 1px solid #e3e8ec !important;

    .react-tagsinput-tag {
        border: $color_brand_blue !important;
        background: $color_brand_blue !important;
        color: $color_white !important;
    }
}
#img_gd {
    width: 74% !important;
    overflow-x: auto;

    #img_gd_scroll {
        width: 10000px;
    }
}
.tab_tho {
    margin-top: 0 !important;

    ul {
        background: #eff3f7 !important;
        border-radius:4px 4px  0 0;
    }
}