﻿$color_brand_blue: #2a58ad;
$color_brand_yellow: #f26522;
$color_menu_sub: #0f1b46;
$color_white: #fff;
$color_gray: #272727;
$color_bg_headtop: #1a4897;
$color_border_li: #3762b2;
$color_brand_yellow_hover: #f04e01;
$color_text_submenu: #e7ba0a;
$color_text_li_ul_li: #788fc4;
$color_excel: #1d6f42;
$color_green: #17bb31;
$color_red: #e12127;

* {
    outline: none;
}

.register {
    background: none;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 600px;
    margin: auto;
    transform: translate(0%, 50%);
}

.body_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .container {
        position: relative;
    }

    &__right {
        text-align: center;
        width: 100%;
        position: absolute;
        right: 0;
        top: 80px;
        border-radius: 4px;

        &__form {
            border: 0;
            width: 370px;
            margin: auto;
            padding: 10px 30px;
            background: #fff;

            img {
                padding: 10px 0;
                position: relative;
                top: 0;
                left: 0;
                width: auto;
            }

            h1 {
                text-transform: uppercase;
                font-weight: bold;
                color: $color_brand_blue;
                font-size: 20px;
                padding: 10px 0;
            }

            label {
                float: left;
            }

            .button_login {
                width: 100%;
                display: inline-block;
                text-align: center;

                button {
                    height: 50px;
                    margin: 10px 0 0 0;
                    width: 160px;
                    background: $color_brand_blue;
                    border-radius: 49px;
                    text-transform: uppercase;
                    border: none;
                    color: #fff;
                    font-weight: 600;
                    animation:0.3s;
                    outline: none;

                    &:hover {
                        background: $color_brand_yellow;
                        box-shadow: 0 0 0 0.2rem rgba(242, 101, 34, 0.25) !important;
                    }
                }
            }

            .tab-content {
                border: 0;

                label {
                    text-transform: none !important;
                }
            }
        }
    }
}
